body {
  

padding-top: 50px;

background: url(http://www.imgbase.info/images/safe-wallpapers/miscellaneous/magic_the_gathering/32836_magic_the_gathering.jpg) no-repeat center top fixed;
 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
		


}


img.ca { opacity: 0.2;}